<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>haron_spektra</username>
            <password>iColor@7154haron</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>pass-phrase</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>